header {
    border-radius: 25px;
    text-align: center;
    background-color: #1d1e1e;
    color: #e0c5f5;
    font-size: 50px;
}
nav {
    border-radius: 25px;
    background-color: #1d1e1e;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    text-align: center;
    font-size: 2em;
}
body{
 background-color: #373838
}
a{
    color: #C3CBEA;
    padding-top: 50%;
}
section{
    width:60%;
    float:left;
    margin: 10px;
}
aside{
    width: 30%;
    float: right;
    padding: 10px;
}
article{
    border-radius: 25px;
    float: left;
    background-color: #6d6e6e;
    margin: 10px;
}
footer{
    border-radius: 25px;
    font-family: "Arial";
    color: #e0c5f5;
    font-size: large;
    background-color: #1d1e1e;
    text-align: center;
    clear: both;
    left: 50%;
    padding: 5px;
}
p{
    color: #e0c5f5;
    font-size: medium;
}
.aside_img{
    position: center;
    width: auto;
    height: 228px;
}
.article_img{
    float: left;
    width: auto;
    height: 150px;
    border: 1px;
}
#topNav {
    border-radius: 25px;
    background-color: #1d1e1e;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    text-align: center;
    font-size: 2em;
}
h2 {
    text-align: center;
}